.login {
  padding: 10%;
}
.formzone {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border: 2px solid #f6adc6;
}
.formzone input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #f6adc6;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.formzone button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  border: 2px solid #f6adc6;
  width: 30%;
  padding: 3%;
  color: #f172a3;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formzone button:hover,
.form button:active,
.form button:focus {
  background: #f6adc6;
  color: #ffffff;
}
