.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  margin-left: 1%;
}
div {
  line-height: 250%;
}

.flex {
  display: flex;
}
.flex input {
  width: 100%;
}
.flex input:hover {
  width: 100%;
}
.flex button {
  font-size: 15px;
  width: 20%;
}
